html,
body {
  margin: 0;
  height: 100%;
}

#world {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 100%;
  height: 100%;
}

#hotbar {
  display: none;
  position: fixed;
  left: 50%;
  bottom: 6px;
  transform: translateX(-50%);
  width: 184px;
  height: 24px;
}

#hotbar img.bg {
  width: 182px;
  margin: 1px;
}

#hotbar img.selection {
  position: absolute;
  left: 0;
  top: 0;
}
